@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 🌞 Light mode (default) */
.light {
  --background: #ffffff;
  --foreground: #171717;
}

/* 🌚 Dark mode */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --shadow-color: transparent;
  --border: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background 0.2s ease, color 0.2s ease;
}
